@import url('reset.css');

/* PC FIRST */



/* ROOT */
:root{
    --bgcolor: rgb(38, 38, 64);
    --coinFontSize: 1.5rem;
}

/* GLOBAL STYLING */
body{
    background-color: var(--bgcolor);
}

#coinSpan{
    color: white;
    font-size: var(--coinFontSize);
    margin: 0;
}

/* BASIC CARD STYLING */
 figure {
    width: 150px;
    height: 150px;
    
}

figure img {
    width: 100%;
    height: 100%;
    
    
}

/* STYLING PÅ APPEN */
#app{
    background-color: var(--bgcolor);
}



/*region FORSIDE */
#forsideContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#forsideBaggrund{
   width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
   grid-row: 1 / 2;
   grid-column: 1 / 2;
   
}

#forsideButtonDiv{
    display: flex;
    flex-direction: row;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    padding-top: 35%;
    gap: 100px;
}

#forsideButtonDiv button{
    background-color: black;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

/* PACK SIDE STYLING */
#packViewContainer {
    display: grid;
    height: 100vh;
}
#packSection{
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
#packExitknap{
    justify-self: center;
    align-self: center;
    padding: 20px;
}

/* MY COLLECTION SIDE STYLING */
#collectionContainer{
    display: grid;
    min-height: 100vh;
}

#collectionSection{
    place-self: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, auto)
    
}



#CollectionExitKnap{
    justify-self: center;
    align-self: center;
    padding: 20px;
}


/* PACK OPENING STYLING */
#packOpeningContainer{
    display: grid;
    place-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* CARD VIEW STYLING */
#CardViewContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#CardViewContainer > div{
        display: flex;
        gap: 10px;
    
}


